.square {
    font-size: 12px;

    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;

    flex-basis: 25px;
}

.container {
    display: flex;
    width: 480px;
    height: 480px;
    flex-wrap: wrap;
}

.hovering {
    background-color: gold;
}

button {
    margin-top: 8px;
    margin-bottom: 16px;
}