.square {
    font-size: 12px;

    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;

    flex: 1 1 auto;
}

.container {
    display: flex;
    width: 480px;
    height: 480px;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1 1 auto;

}

.hovering {
    background-color: gold;
}

button {
    margin-top: 8px;
    margin-bottom: 16px;
}