.square {
    height: 25px;
    width: 25px;
    font-size: 12px;

    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
}

.container {
    display: flex;
    width: 430px;
    flex-wrap: wrap;
}

.hovering {
    background-color: gold;
}